.about{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    margin-top: 40px;
}

.f1{
    font-size: 18px;
    line-height: 150%;
}
.f2{
    font-size: 18px;
}
.foot1{
    padding-top: 25px;
    padding-bottom: 25px;
}
.h1{
    height: 5px;
        background: pink;
        background-image: linear-gradient(to right, #119CFDFF, #A100FFEE, #119CFDFF);
}