body{
  margin:0;
  padding: 0;
  overflow: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border: 1px solid white;
	background: #607d8b;
	border-radius: 12px 12px 12px 12px;
	margin: 0px auto;
}

/* 
::-webkit-scrollbar{
  display: none;
} */